.circle {
  display: inline-block;
  position: absolute;
  right: -15px;
  top: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.green {
  background-color: var(--green);
}

.red {
  background-color: var(--red);
}

.orange {
  background-color: var(--orange);
}
