.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8% 0 16%;
}

.logo42seoul {
  position: absolute;
  top: -20px;
  right: 0;
  display: inline-block;
  width: 30%;
  height: 50px;
  background: url("../../assets/42-logo-white.png") center/contain no-repeat;
  color: transparent;
}

.title {
  font-size: calc(1.2em + 1.2vw);
  font-weight: 600;
  text-align: center;
  margin: 0.7rem 0;
}
