.Spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #d9d9d9;
  border-radius: 50%;
  border-top-color: #9eb9ec;
  animation: spin 0.8s infinite ease-in-out;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
