.timeLogCard {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 2.5rem;
  text-align: center;
  background-color: white;
  border-radius: inherit;
  height: 100%;
  min-height: 55rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  font-size: 10px;
}

.timeLogContents{
  overflow: scroll;
  height: 100%;
  padding-top:40px;
  margin-bottom: 5px;
}

.timeLogTitleWrapper
{
  display:flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 10px;
}

.timeLogTitleWrapper p{
  display: inline-block;
}

.timeLogTitleWrapper strong{
  font-size: 10px;
}

table{
  border-collapse: collapse;
}

 tr,th {
  width:200px;
  height: 20px;
};



.timeLogTable
{
  font-size: 12px;
}

.row{
  border-top-style: solid;
  border-top-width: 1px;
}

.menuIcon{
  position: absolute;
  top:10px;
  right:10px;
}