
table{	
	text-align: center;
}

thead th{
	padding: 7px 0;
	border-bottom: 1px solid black;
}

tbody td{
	height: 40px;
	border-bottom:solid 1px #e1e1e1;
	background-color: #f8f8f8;
}

th, td{
	color:black;
}


.adminComponent{
	max-height: 600px;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	color:black;
	border-radius: 10px;
	padding:10px;	
}

.tableComponent{
	height: 500px;
    overflow: auto;
}

.downloadComponent{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:5px 0 0 0;
}