.card {
  position: relative;
  min-height: 55rem;
}

.card-wrapper {
  height: 100%;
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
  display: flex;
  position: relative;
  color: black;
  border-radius: 1.3rem;
}

.mainMenuIcon {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: red;
}
.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
