@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, "Apple SD Gothic Neo", "Noto Sans CJK KR",
    "Malgun Gothic", sans-serif;
}
