/*variables*/
:root {
	--white: rgb(255, 255, 255);
	--black: rgb(46, 47, 51);
	--lightgreen: rgb(92, 235, 182);
	--green: rgb(74, 226, 170);
	--lightred: rgb(251, 138, 146);
	--red: rgb(242, 119, 126);
	--orange: rgb(255, 165, 92);
	--skyblue: rgb(88, 210, 231);
	--lightgray: rgb(187, 189, 202);
	--gray: rgb(124, 126, 139);
	--darkgray: rgb(95, 96, 109);
	--snow: rgb(244, 244, 245);
	--darksnow: rgb(229, 229, 235);
  }